services:
  node1:
    build:
      context: ../..
      dockerfile: infra/docker/Dockerfile
    hostname: node1
    networks: [mpi-net]

  node2:
    build:
      context: ../..
      dockerfile: infra/docker/Dockerfile
    hostname: node2
    networks: [mpi-net]

  node3:
    build:
      context: ../..
      dockerfile: infra/docker/Dockerfile
    hostname: node3
    networks: [mpi-net]

  node4:
    build:
      context: ../..
      dockerfile: infra/docker/Dockerfile
    hostname: node4
    networks: [mpi-net]

  node5:
    build:
      context: ../..
      dockerfile: infra/docker/Dockerfile
    hostname: node5
    networks: [mpi-net]

networks:
  mpi-net:
    driver: bridge
