name: Build & Run tests

on:
  # if not triggered on PR - trigger manually, that was made to avoid workflow duplication
  push:
  workflow_dispatch:

jobs:
  buildntest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Build Tools, Analyzers, and MPI
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            build-essential \
            cmake \
            mpich \
            libmpich-dev \
            ninja-build

      - name: Configure Project (Standard)
        run: |
          mkdir -p build
          cmake -S . -B build \
            -DCMAKE_BUILD_TYPE=Release \
            -DLOG_USE_COLOR=ON

      - name: Build Project
        run: |
          cmake --build build --parallel

      - name: test
        run: |
             ./tests/test.sh
